<section class='marquee'>
	<div class='marquee__inner'>
		<span>Desarrollador Web</span>
		<span>·</span>
		<span>Creador de botones</span>
		<span>·</span>
		<span>Ensamblador de enlaces</span>
		<span>·</span>
		<span>Maestro del "Ponme un popup"</span>
		<span>·</span>
		<span>Chapuzas creativo</span>
		<span>·</span>
		<span>Ayudante de la IA</span>
		<span>·</span>
	</div>

	<div class='marquee__inner'>
		<span>Desarrollador Web</span><span>·</span>
		<span>Creador de botones</span>
		<span>·</span>
		<span>Ensamblador de enlaces</span>
		<span>·</span>
		<span>Maestro del "Ponme un popup"</span>
		<span>·</span>
		<span>Chapuzas creativo</span>
		<span>·</span>
		<span>Ayudante de la IA</span>
		<span>·</span>
	</div>
</section>

<style>
	.marquee {
		--gap: 20px;
		
		position: relative;
		overflow: hidden;
		margin: 0 10%;
		padding: 10px 0;
		border-top: 1px solid #0000003b;
		border-bottom: 1px solid #0000003b;
		white-space: nowrap;
		display: flex;
		flex-direction: row;
		gap: var(--gap);
		margin-bottom: 50px;
	}

	.marquee__inner {
		display: flex;
		flex-shrink: 0;
		animation: marquee 15s linear infinite;
		justify-content: space-between;
		gap: var(--gap);
		align-items: center;
	}

	@media screen and (min-width: 768px) {
		.marquee__inner{
			width: 100%;
		}

	}

	@keyframes marquee {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}
</style>
