<footer>
	<p><strong>Daniel Domínguez</strong></p>
	<p>Desarrollo Web</p>
</footer>

<style>
	footer {
		margin: 100px 10% 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
		gap: 10px;
	}

</style>
