---
import CloseIcon from './CloseIcon.astro'
import Mail from './icons/Mail.astro'
import WhatsAppBlack from './icons/WhatsAppBlack.astro'
import ToggleIcon from './ToggleIcon.astro'
---

<header>
	<h1>Daniel Domínguez</h1>
	<div class='right-area'>
		<nav>
			<ul>
				<li><a href='#works'>Trabajos</a></li>
				<li><a href='#stack'>Mi Stack</a></li>
				<li><a href='#customers'>Clientes</a></li>
				<li><a class='contact' href='#contact'>¿Hablamos?</a></li>
				<div class='icons'>
					<a href=''><Mail /></a>
					<a href=''><WhatsAppBlack /></a>
				</div>
			</ul>
		</nav>
	</div>
	<div class='toggle'>
		<ToggleIcon />
	</div>
	<div class='close'>
		<CloseIcon />
	</div>
</header>

<style>
	header {
		display: flex;
		align-items: center;
		margin: 0px 10%;
		justify-content: space-between;
		padding: 30px 0px;
	}

	.close {
		display: none;
	}

	.right-area {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	nav ul {
		display: flex;
		list-style: none;
		gap: 30px;
	}

	a {
		color: black;
		text-decoration: none;
	}

	.contact {
		background-color: var(--dark);
		color: white;
		padding: 5px 15px;
	}

	.toggle {
		display: none;
	}

	.icons {
		display: none;
	}

	@media (max-width: 1000px) {
		nav {
			display: none;
		}

		.icons {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 70px;
			gap: 30px;
		}

		.icons a {
			background-color: white;
			padding: 5px;
			display: flex;
			border-radius: 10px;
			transform: scale(1.2);
		}

		nav.visible {
			display: flex;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100dvh;
			background: url('/body_bg.jpg');
			background-size: 10px;
			align-items: center;
			justify-content: center;
			z-index: 10;
		}

		.close.visible {
			display: flex;
			z-index: 11;
			position: fixed;
			top: 30px;
			right: 10%;
		}

		nav ul {
			flex-direction: column;
			text-align: center;
		}

		nav ul li {
			font-size: 2.5em;
		}

		.toggle {
			display: flex;
		}

		h1 {
			font-size: 1.5em;
		}
	}
</style>

<script>
	const toggleBtn = document.querySelector('.toggle')
	const navElement = document.querySelector('nav')
	const closeBtn = document.querySelector('.close')

	toggleBtn?.addEventListener('click', () => {
		navElement?.classList.add('visible')
		closeBtn?.classList.add('visible')
		document.body.style.overflow = 'hidden'
	})

	navElement?.addEventListener('click', () => {
		navElement?.classList.remove('visible')
		closeBtn?.classList.remove('visible')
		document.body.style.overflow = ''
	})

	closeBtn?.addEventListener('click', () => {
		navElement?.classList.remove('visible')
		closeBtn?.classList.remove('visible')
		document.body.style.overflow = ''
	})
</script>
