<section>
	<div class='container'>
		<h2>"Hago cosas para la web"</h2>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis temporibus labore facilis architecto adipisci
			maxime eaque!
		</p>

		<div class='socials'>Aquí las redes</div>
	</div>
</section>

<style>
	section {
		max-width: 600px;
		margin: auto;
	}

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		text-align: center;
		text-wrap: pretty;
	}

	.socials{
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
</style>
